# Compiled bytecode
__pycache__/
*.py[cod]

# Jupyter NB checkpoints
.ipynb_checkpoints/
notebooks/

# Distribution and packaging files
*.egg-info/

# Environment
.env

# Hydra/WandB outputs
outputs/
multirun/
wandb/

# Custom config
/config/

# VS Code debugging
.vscode/
